@keyframes phone-ringing {
  0%,
  100% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-18deg);
  }
  40% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(-12deg);
  }
  80% {
    transform: rotate(8deg);
  }
}
